ul {
  list-style-type: none;
  background-color: lightgreen;
}

li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px 0px solid black;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: green;
}
